<div class="barra-horizontal"></div>
  <div class="barra-vertical">
      <button (click)="onClickMenu($event)" id="btnMenu1"><img class="image"src="assets/botao-home.png"></button>
      <button (click)="onExit($event)" id="btnMenu2"><img class="image"src="assets/exit.png"></button>


</div>
<div class="barra-vertical2" id="vBar">
  <button [ngClass]="{'rgb(207, 233, 229)' : visible, 'red' : !visible}" (click)="onClickMenu2($event)" id="btnMenu3"><img class="image"src="assets/avatar.png"></button>
  <button [ngClass]="{'rgb(207, 233, 229)' : visible, 'red' : !visible}" (click)="onExit($event)" id="btnMenu4"><img class="image"src="assets/exit.png"></button>
</div>

<div class="main" id="hBar">
  <div class="barra-horizontal2">
    <div class="seletor">
      <select name="Pessoa" (change)="selectChangeHandler($event)">
        <option value=""></option>
        <option value="1">João</option>
        <option value="2">Eduardo</option>
        <option value="3">José</option>
      </select>
    </div>
    <button>Button</button>
    <button>Button</button>
    <button>Button</button>
  </div>
</div>

<div class="descricao">
    <h1>{{selectedUserName}}</h1>
    <p>{{selectedUserDesc}}</p>
</div>


